.tieu-de-chinh {
    color: red;
}

.mo-ta {
    color: grey;
}

.tieu-de-phu {
    color: blue;
}

.noi-dung {
    color: black;
}

.lien-ket {
    color: green;
}

.text {
    background-color: bisque;
    text-align: center;
    font-size: 40px;
}

.image {
    width: 800px;
    height: 590px;
}
